*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.link{
    text-transform: uppercase;
    text-decoration: none;
    color: #c6cacc;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-left: 60px;
}
.link:hover{
    color: #e84545;
}
.header{
    background:linear-gradient(90deg,rgba(43, 46, 74, 0.95),rgba(43, 46, 74, 0.95)), url(../image/main.png) no-repeat center;
    background-size: cover;
    color: #ffffff;
}
.container{
    max-width: 1150px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}
.navbar-block{
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
    border-bottom: 1px solid #505369;
}

.header-item{
    display:flex;
  
}

.header-info{
    text-align: center;
    padding: 150px 130px;
}
.title-main{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 65px;   
    margin: 0;
    text-transform: uppercase;
}
.paragraph{
    color: #6c7279;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding-top: 30px;
}
.paragraph-title{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    margin-top: 35px;
    margin-bottom: 80px;
}

.button-title{
    font-family: 'Paleway', sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding: 18px 50px;
    background-color: #e84545;
    border-radius: 2px;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
}
.button-title:hover{
    background: #c6cacc;
}
.features{
    text-align: center;
}
.feature-icon{
    color: #e84545;
    font-size: 60px;
}

.subtitle{
    margin: 30px 0 0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.feature-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0 120px;
}
.feature{
    width: 30%;
    padding-top: 80px;
}

.photos-wrap {
    display: flex;
    flex-wrap: wrap;
}

.img-container {
    width: 25%;
    height: 350px;
    position: relative;
    cursor: pointer;
}

.img-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ffffff;
}

.img-inner {
    background-color: rgba(232, 82, 79, 0.9);
    text-align: center;
    color:#fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: none;
}
.img-container:hover .img-inner {
    display: flex;
    align-content: left;
    flex-direction: column;
    justify-content: center;
}
.img-inner .paragraph{
    color:#ffffff;
}

.team{
    padding: 100px 0;    
}
.team-block{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.team-item{
    width: 20%;
}
.team-avatar img{
    width: 100%;
}
.name{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 30px 0 15px;
}
.name:hover{
    font-weight: bold;
    cursor: pointer;
}

.profile{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #e84545;
    text-transform: uppercase;
}

.team-icons{
    margin: auto;   
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
.team-icons i{
    width: 40px;
    height: 40px;
    align-self: center;
    font-size: 16px;
    border: 1px solid #e8ecee;  
    justify-content: center;
}
.link.icons{
    margin: 0;
}
.clients{
    display: flex;
}

.clients-image{
    width: 50%;
    object-fit: cover;
}

.clients-guote{
    box-sizing: border-box;
    width: 50%;
    padding: 110px 0 100px 85px;
    background: #53354a;
}
.slider-row {
    display: flex;
    margin-left: 150px;
    margin-top: 50px;
}

.row {
    margin-right: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.row:hover {
    background: rgb(255, 255, 255);
}

.row:last-child {
    margin-right: 0;
}

.interview {
    line-height: 40px;
    color: #ffffff;
    font-family:'Cardo', sans-serif;
    font-style :italic;
    font-size :36px;
}
.paragraph.review{
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.download{
    padding: 100px 0;
    text-align: center;    
}
.title-download{
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 300;
    text-transform: capitalize;
}
.paragraph.download{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 20px 0 40px; 
    color: #2d3033;
    text-transform: uppercase;
}
.footer{
    background-color:#3a3e64;
}
.unit{
    padding: 40px 0 110px;
    display: flex;
    justify-content: space-around;
}
.unit-item{
    color: #ffffff;
    width: 30%;
    text-align: center;
}

.team-icons.unit-item{
    justify-content: space-around; 
    width: 50%;
}

.link i{
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.copy-block{
    background-color: #313454;
    text-align: center;
}
.paragraph.copy{
    padding: 14px 0 10px;
}
.by span{
    color: #e84545;
}
.paragraph.by{
    padding: 0 0 30px;
}
.author{
    text-decoration: none;
    color: #ffffff;
}
.author:hover {
    color: #6c7279;
}